* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

a[type="button"],
button {
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  font-weight: 400;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  font-size: 1rem;
}

input[type="checkbox"] {
  cursor: pointer;
}

a[type="button"]:hover,
button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #5c5656;
  border-color: #5c5656;
  cursor: pointer;
}

h1 {
  padding: 15px 40px;
  font-weight: 500;
}

input {
  display: inline-block;
  padding: 7px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 0 10px;
}

select {
  padding: 7px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header,
.furniture_input div {
  display: flex;
  align-items: center;
}

.header button {
  display: inline;
}

.line {
  width: 100%;
  height: 60px;
  padding: 0 40px;
  border-bottom: 2px solid black;
  position: absolute;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 40px;
}

.card input {
  align-self: flex-start;
  margin-left: 10px;
}

.card p {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}

.card p:last-child {
  margin-bottom: 15px;
}

.create_form {
  padding: 10px 40px;
}

.furniture_input input {
  display: block;
}
